# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# --- IDE (VS Code & Eclipse) ---
.vscode/
.settings/
.classpath
.project
.factorypath
bin/

# --- Java & Compilazione ---
*.class
*.log
*.jar
*.war

# --- GWT ---
gwt-unitCache/
www-test/
.gwt/
war/WEB-INF/deploy/
war/WEB-INF/lib/
*.nocache.js
*.cache.gif
*.gwt.rpc

# --- Database (MapDB) ---
# *.db # Se ignorate il file del database assicuratevi di riinserirlo prima di consegnare
*.db.p
*.db.t
dockerdata/

# --- Sistema Operativo ---
Thumbs.db
.DS_Store
app/progetto_sweng.db