<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">

	<!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>it.unibo.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/app/greet</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>ingredentiServlet</servlet-name>
    <servlet-class>it.unibo.IngredientiServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingredentiServlet</servlet-name>
    <url-pattern>/app/ingredienti</url-pattern>
  </servlet-mapping>


  <!-- Authentication (login / registration) -->
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>it.unibo.AuthServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/app/auth</url-pattern>
  </servlet-mapping>

  <!-- Announcements -->
  <servlet>
    <servlet-name>announcementServlet</servlet-name>
    <servlet-class>it.unibo.AnnouncementServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>announcementServlet</servlet-name>
    <url-pattern>/app/announcements</url-pattern>
  </servlet-mapping>

	<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
